.content-scroller {
  margin-top: 64px;
  padding: 0 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 16px;
}